version: "3"
services:
  mongo:
    container_name: "mongodb"
    image: mongo:3
    restart: always
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"

  api:
    container_name: "node-api"
    build: .
    image: "node-api-clean-architecture"
    restart: always
    command: npm run debug
    volumes:
      - ./dist:/usr/app/node-api-clean-architecture/dist
      - ./package.json:/usr/app/node-api-clean-architecture/package.json
    ports:
      - "5000:5000"
      - "9222:9222"
    links:
      - mongo
